=nav link_to_unless_current t("navigation.orders"), orders_path
=nav link_to_unless_current t("navigation.parts"), parts_path
=nav link_to_unless_current t("navigation.services"), services_path
=nav link_to_unless_current t("navigation.administration"), admin_path
